<template name="terms">

    <div class="content">

        {{>navAuth}}

        <div class="terms">
            <div class="container">
                <row>
                    <div class="col-md-6 col-md-offset-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo voluptate sit cumque magnam, nesciunt, ducimus aliquid, suscipit pariatur odio fuga laborum dolore placeat ex asperiores tempora in eligendi reiciendis adipisci?
                    </div>
                </row>

            </div>
        </div>

    </div>

</template>
