.intro-wrap input,
.intro-wrap select,
.intro-wrap textarea {
	width: 100%;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 5px 10px;
}

.at-btn.submit {
	position: relative;
	padding: 8px 30px;
	border: 0;
	margin: 10px 1px;
	cursor: pointer;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	outline: none !important;
	width: 100%;
	margin: 5px 0;
	background-color: #009688;
	color: #fff;
}

.at-error {
	background-color:#FFA2A3;
	color: #B11030;
	border-radius: 2px;
	line-height: 40px;
	margin-bottom: 16px;
}

.has-error input {
	border-color: #FFA2A3
}

.has-error span {
	color: #B11030;
	margin-top: -5px;
	display: block;
	margin-bottom: 5px;
}
