<template name="navAuth">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand mdi-image-navigate-before navigate-left" href="{{returnTo}}"></a><span class="navbar-brand">{{pageTitle}}</span>
        </div>
<!--
        <p class="nav navbar-text">
            {{pageTitle}}
        </p>
-->
    </div>
</template>

<template name="navDash">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
           	<!-- Left -->
            <a id="menu" class="navbar-brand mdi-image-dehaze top-left" href="#my-menu"></a>
            <!-- Right -->
            <a class="navbar-brand mdi-image-tune pull-right top-right"></a>
            <a class="navbar-brand mdi-social-notifications pull-right top-right"></a>
        </div>
    </div>
</template>

