<template name="navAuth">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand mdi-image-navigate-before navigate-left" href="{{returnTo}}"></a><span class="navbar-brand">{{pageTitle}}</span>
        </div>
<!--
        <p class="nav navbar-text">
            {{pageTitle}}
        </p>
-->
    </div>
</template>

<template name="navDash">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand mdi-image-dehaze" href=""></a><span class="navbar-brand"></span>
        </div>
    </div>
</template>

