<template name="navAuth">
    <div class="navbar navbar-default navbar-fixed-top navbar-material-deep-orange">
        <div class="navbar-header">
            <a class="navbar-brand mdi-image-navigate-before navigate-left" href="{{returnTo}}"></a><span class="navbar-brand">{{pageTitle}}</span>
        </div>
<!--
        <p class="nav navbar-text">
            {{pageTitle}}
        </p>
-->
    </div>
</template>

<template name="navDash">
    <div class="navbar navbar-default navbar-fixed-top navbar-material-deep-orange">
         <div class="navbar-header">
           	<!-- Left -->
            <a href="javascript:void(0)" class="navbar-brand mdi-image-dehaze top-left toggle-menu"></a>
            <!-- Right -->
            <a class="navbar-brand mdi-action-settings pull-right top-right" href="{{pathFor 'settings'}}"></a>
            <a class="navbar-brand mdi-social-notifications pull-right top-right"></a>
        </div>
    </div>
</template>

