<template name="layout">

        <!-- the menu -->
        <nav id="menu">
			{{> menu}}
        </nav>
        <!-- the wrapper -->
        <main id="main">
            <!-- <div class="overlay"></div> -->

            <div id="main-header">
                {{> navDash}}
            </div>
            <div id="main-content">
                {{#momentum plugin='iron-router' options=transition}}

                	{{>yield}}

                {{/momentum}}
            </div>
        </main>

</template>
