<template name="editProfile">

            {{#autoForm collection='Meteor.users' doc=currentUser type='update' id='editProfile' autosave=true}}

                {{> afQuickField name='profile.name' placeholder="Your Name" label=false}} {{> afQuickField name='emails.0.address' label=false}} {{> afQuickField name='profile.website' placeholder="Website" label=false}}
                {{> afQuickField name='profile.bio' placeholder="Short Bio" label=false rows=5}}

<!--				{{> afQuickField name='profile.public' label=false trueLabel=true falseLabel=false }}-->


<!-- <button type='submit' class="btn btn-primary btn-material-deep-orange">Save profile</button> -->

            {{/autoForm}}

</template>
